<!-- Navbar -->
<nav class="navbar">
    <a href="/"><div class="navbar-brand montserrat-brand">LedLyrics</div></a>
    <form class="search-form" action="/search" method="GET">
        <input type="text" name="q" class="search-input montserrat-light" placeholder="Search for lyrics..." required>
        <input type="submit" value="Search Lyrics" class="search-btn montserrat-placeholder">
    </form>
</nav>


